<div class="content">
  <h1>{{title}}</h1>
  <div class="settings">
    <mat-form-field>
      <mat-label>Prepare time</mat-label>
      <input matInput type="number" min="1" [(ngModel)]="prepareTime" />
      <span matSuffix>secs</span>
    </mat-form-field>

    <mat-checkbox class="example-margin" [(ngModel)]="shouldAnnounce">Announce get ready</mat-checkbox>
    <mat-form-field>
      <mat-label>Announce time</mat-label>
      <input matInput type="number" max="{{prepareTime}}" [(ngModel)]="announceTime" />
      <span matSuffix>secs</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Draw and anchor time</mat-label>
      <input matInput type="number" min="1" [(ngModel)]="drawTime" />
      <span matSuffix>secs</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Shot percentage</mat-label>
      <input matInput type="number" min="0" max="100" [(ngModel)]="shotPercentage" />
      <span matSuffix>%</span>
    </mat-form-field>
  </div>

  <div>
    <div class="row">
      <label class="row-label">Stage:</label>
      <div>{{stage}}</div>
    </div>
    <div class="row">
      <label class="row-label">Prepare countdown:</label>
      <div>{{countDown}}</div>
    </div>

    <div class="row" [class.shoot]="action === 'Shoot'" [class.dont-shoot]="action === 'Let down'">
      <label class="row-label">Action:</label>
      <div>{{action}}</div>
    </div>

  </div>

  <div class="buttons">
    <button mat-raised-button color="primary" (click)="doStart()" [disabled]="stage !== 'Stopped'">Start</button>
    <button mat-raised-button color="warn" (click)="doStop()" [disabled]="stage === 'Stopped'">Stop</button>
  </div>
</div>